@import url('https://fonts.googleapis.com/css2?family=Roboto');


body {
    display: flex;
    flex-direction: column;
    flex: auto;
    margin: 0;
    font-family: Roboto;
    font-weight: 300;

    /* All header css*/
    .topHeader {
        background-color: #1F2937;
        color: white;
        display: flex;
        justify-content: space-around;
        padding: 20px; 
    }

    .headerLogo {
        font-weight: bold;
    }

    .headerLinks {
        display: flex;
        gap: 20px;
    }

    a {
        text-decoration: none;
        color: white;
    }

    /* All main CSS */
    .main {
        display: flex;

        flex-direction: column;
        align-items: center;
        gap: 100px;
    }

    .container1 {
        background-color: #1F2937;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        /* width: 100vw; */
    }

    .container2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .cards{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .card {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .container3 {
        display: flex;
        flex-direction: column;
        background-color: #E5E7EB;
        color: black;
        padding: 20px;
    }

    .quoteText {
        font-style: italic;
    }

    .quoteAuthor {
        font-weight: bold;
        text-align: end;
    }

    .container4 {
        display: flex;
        background-color: #3882f6;
        color: white;
    }


    /* All footer CSS */

    .footer {
        background-color: #1F2937;
        color: white;
        text-align: center;
        padding: 20px;
    }